body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

header {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 1em;
}

.price-container {
  display: flex;
  justify-content: center;
  margin-top: 2em;
}

.price {
  font-size: 3em;
  font-weight: bold;
}

.menu {
  position: fixed;
  top: 0;
  left: -200px; /* menu is off-screen by default */
  height: 100%;
  width: 200px;
  background-color: #333;
  padding: 1rem;
  transition: left 0.2s ease-out; /* animate menu slide-in */
}

.menu.active {
  left: 0; /* slide menu in when active */
}

#menu-button {
  position: fixed;
  top: 0.5rem;
  right: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 2rem;
  height: 2rem;
  background-color: transparent;
  border: none;
  cursor: pointer;
  z-index: 9999;
}

.line {
  height: 0.25rem;
  width: 100%;
  background-color: white;
  border-radius: 0.125rem;
}

#menu-button.active .line:nth-of-type(1) {
  transform: translateY(6px) rotate(45deg);
}

#menu-button.active .line:nth-of-type(2) {
  opacity: 0;
}

#menu-button.active .line:nth-of-type(3) {
  transform: translateY(-6px) rotate(-45deg);
}

