body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 3rem;
  text-align: center;
  margin-top: 3rem;
}

p {
  font-size: 1.5rem;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
