body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

header {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 1em;
}

.price-container {
  display: flex;
  justify-content: center;
  margin-top: 2em;
}

.price {
  font-size: 3em;
  font-weight: bold;
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9998;
  display: none;
}

.menu-container.active {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu {
  height: 200px;
  width: 200px;
  background-color: #333;
  z-index: 1; 
  padding: 1rem;
  transition: transform 0.2s ease-out;
  transform: translate(-200px, 0);
}

.menu.active {
  transform: translate(0, 0);
}

#menu-button {
  position: fixed;
  top: 0.5rem;
  left: 0.5rem;
  width: 2.5rem;
  height: 2.5rem;
  background-color: transparent;
  border: none;
  cursor: pointer;
  z-index: 9999;
  border: 1px solid white;
}

.line {
  height: 0.25rem;
  width: 100%;
  background-color: white;
  border-radius: 0.125rem;
  margin-bottom: 0.25rem;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  transition: transform 0.2s ease-out;
}

#menu-button .line:nth-of-type(1) {
  transform-origin: left center;
}

#menu-button .line:nth-of-type(3) {
  transform-origin: left center;
}

#menu-button.active .line:nth-of-type(1) {
  transform: translateY(6px) rotate(45deg);
}

#menu-button.active .line:nth-of-type(2) {
  opacity: 0;
}

#menu-button.active .line:nth-of-type(3) {
  transform: translateY(-6px) rotate(-45deg);
}
